body {
    background: #ccc;
    color:red;
}

#container {
    background-image: url("../imgs/big.jpg");
    width: 500px;
    height: 500px;
    transform: rotate(45deg);
}


.a111 {
    background-image: url("../imgs/big.jpg");
    width: 500px;
    height: 500px;
}

.b11e{
    background-image: url("../imgs/big.jpg");
    width: 500px;
    height: 500px;
}